snippet plp "basic tex template" i
\documentclass[12pt]{article}

\usepackage{amsmath,amsthm,amssymb}
\usepackage{dsfont}
\usepackage[spanish]{babel}
\usepackage[margin=1in]{geometry}

\title{$1}
\author{$2}

\begin{document}

$3

\end{document}
endsnippet
